ol {
  list-style-type: none;
  overflow: hidden;
  background-color: #e9e6de;
  margin: 0;
  border: 0;
}

li {
  float: right;
  padding: 25px;
}

a {
  color: #000;
  text-decoration: none;
}

.navigation-bar {
  width: 100%;
}

.navigation-bar-item {
  margin-top: 5px;
  font-weight: 500;
}

#home {
  margin-top: 0px;
  float: left;
  font-size: 150%;
}
